* {
    margin: 0;
    padding: 0;
}
.container {
    font-family: sans-serif;
    width: 1280px;
   margin: 0 auto;
}
.logo>a {
    display: flex;
    align-items: flex-end;
    width: 334px;
    height: 79px;
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 40px;
}
.colortext {
    color: #4BCAFF;
}
.description {
    display: flex;
    justify-content: center;
    background: #35444F;
    margin-bottom: 50px;
    list-style-type: none;
    color: #FFFFFF;
}
.description-item>a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 26px;
    padding-bottom: 20px;
}
.description-item-bac>a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 26px;
    padding-bottom: 20px;
    background: #222F3A;
}
.page{
    display: flex;
    justify-content: space-between;
}
.list {
    list-style-type: none;
    width: 344px;
    height: 400px;
    border: 1px solid #495863;
    font-size: 27px;
    line-height: 27px;
}
.list-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}
.list-item>a {
    text-decoration: none;
    color: #485863;
}
.list-item-bac {
    background: #DBDBDB;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
}
.list-item-bac>a {
    color: #35444F;
    text-decoration: none;
}.story {
     width: 885px;
     border: 1px solid #495863;
     display: flex;
     justify-content: center;
 }
 .logo-story {
     padding-top: 75px;
     padding-bottom: 75px;
 }
 .text{
     width: 885px;
     margin-left: 395px;
 }
 .text-info {
     padding-top: 35px;
     font-size: 18px;
     line-height: 24px;
     color: #2C2C2C;
 }
 .page-bottom {
     display: flex;
     justify-content: space-between;
     background: #DBDBDB;
     margin-top: 55px;
 }
 .page-bottom-items {
     margin-left: 40px;
     margin-right: 80px;
     padding-top: 35px;
     padding-bottom: 35px;
     font-size: 28px;
     line-height: 28px;
     list-style: none;
 }
 .page-bottom-item {
     display: inline-block;
     padding-right: 20px;
 }
 .page-bottom-item>a{
     color: #0C1927;
     text-decoration: none;
 }
.page-bottom-item-color {
    display: inline-block;
    color: #4BCAFF;
    padding-right: 20px;
}
 .bottom-info {
     display: inline-block;
     margin-right: 40px;
     padding-top: 35px;
     padding-bottom: 30px;
     font-size: 24px;
     line-height: 24px;
 }
